<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYab94KVtKcrgrqWovydd7-NLipnF47Ro</string>
	<key>GCM_SENDER_ID</key>
	<string>676669175549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nyanCatWar</string>
	<key>PROJECT_ID</key>
	<string>cat-application-ac05a</string>
	<key>STORAGE_BUCKET</key>
	<string>cat-application-ac05a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676669175549:ios:ccb7b7416dd56d87d43094</string>
</dict>
</plist>